---
apiVersion: v1
kind: ConfigMap
metadata:
  name: chatapi
data:
  # server settings
  environment: "${ENVIRONMENT}"
  module: "chat"

  # middleware
  middleware_cors_enabled: "${MIDDLEWARE_CORS_ENABLED}"
  middleware_encrypt_enabled: "${MIDDLEWARE_ENCRYPT_ENABLED}"
  middleware_tokenauth_enabled: "${MIDDLEWARE_TOKENAUTH_ENABLED}"
  middleware_satokenauth_enabled: "${MIDDLEWARE_SATOKENAUTH_ENABLED}"
  jwt_secret: "${JWT_SECRET}"
  sa_jwt_secret: "${SA_JWT_SECRET}"
  encryption_key: "${ENCRYPTION_KEY}"

  #oidc
  oidc_redirect_url: "${OIDC_REDIRECT_URL}"
  oidc_google_client_id: "${OIDC_GOOGLE_CLIENT_ID}"
  oidc_google_client_secret: "${OIDC_GOOGLE_CLIENT_SECRET}"
  oidc_microsoft_client_id: "${OIDC_MICROSOFT_CLIENT_ID}"
  oidc_microsoft_client_secret: "${OIDC_MICROSOFT_CLIENT_SECRET}"
  oidc_microsoft_entra_id: "${OIDC_MICROSOFT_ENTRA_ID}"
  oidc_zoho_client_id: "${OIDC_ZOHO_CLIENT_ID}"
  oidc_zoho_client_secret: "${OIDC_ZOHO_CLIENT_SECRET}"

  # db settings
  db_url: "${DB_URL}"
  db_name: "${ENV_PREFIX}-${CHAT_DB_NAME}"

  # pg settings
  pgdb_url: "${PGDB_URL}"
  emm_pgdb_url: "${EMM_PGDB_URL}"

  # redis settings
  redis_url: "${REDIS_URL}"
  redis_password: "${REDIS_PASSWORD}"

  # mq settings
  nats_url: "${NATS_URL}"
  nats_username: "${NATS_USERNAME}"
  nats_password: "${NATS_PASSWORD}"

  # es settings
  os_url: "${OS_URL}"
  os_index: "${OS_INDEX}"
  os_username: "${OS_USERNAME}"
  os_password: "${OS_PASSWORD}"

  # smtp settings
  smtp_host: "${SMTP_HOST}"
  smtp_port: "${SMTP_PORT}"
  smtp_user: "${SMTP_USER}"
  smtp_password: "${SMTP_PASSWORD}"

  # pubsub
  gcp_pubsub_project_id: "${GCP_PUBSUB_PROJECT_ID}"
  gcp_pubsub_subscription_id: "${GCP_PUBSUB_SUBSCRIPTION_ID}"

  # firebase
  fb_project_id: "${FB_PROJECT_ID}"

  # aws s3 settings
  s3_region: "${CHAT_S3_REGION}"
  s3_access_key_id: "${CHAT_S3_ACCESS_KEY_ID}"
  s3_secret_access_key: "${CHAT_S3_SECRET_ACCESS_KEY}"
  s3_endpoint: "${CHAT_S3_ENDPOINT}"
  #s3_pub_endpoint: "${CHAT_S3_PUB_ENDPOINT}"
  s3_bucket: "${CHAT_S3_BUCKET}"
  
  # sms keys
  sms_url: "${SMS_URL}"
  sms_api_key: "${SMS_API_KEY}"
  sms_client_id: "${SMS_CLIENT_ID}"
  otp_sender_id: "${OTP_SENDER_ID}"

  #registry
  registry_url: "${REGISTRY_URL}"
  registry_api_key: "${REGISTRY_API_KEY}"
  api_base_url: "${API_BASE_URL}"
  
  #ttns
  ttns_url: "${TTNS_URL}"
  ttns_username: "${TTNS_USERNAME}"
  ttns_password: "${TTNS_PASSWORD}"

  #chat
  remote_secret_key: "${REMOTE_SECRET_KEY}"

  #websocket
  ws_url: "${WS_URL}"

  #reporting url
  reporting_url: "${REPORTING_URL}"
  
  #chat-api
  agora_app_certificate: "${AGORA_APP_CERTIFICATE}"
  agora_app_id: "${AGORA_APP_ID}"
  agora_token_expiry: "${AGORA_TOKEN_EXPIRY}"


---
