---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: collector
  labels:
    app: collector
spec:
  selector:
    matchLabels:
      app: collector
  replicas: ${COLLECTOR_REPLICAS}
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        app: collector
    spec:
      containers:
        - name: collector
          image: registry.digitalocean.com/tectoro/collector:${COLLECTOR_IMAGE_VERSION}
          envFrom:
            - configMapRef:
                name: collector
          ports:
            - containerPort: 8080
      imagePullSecrets:
        - name: doregistry
---
apiVersion: v1
kind: Service
metadata:
  name: collector
spec:
  selector:
    app: collector
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
---
