---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scheduler
  labels:
    app: scheduler
spec:
  selector:
    matchLabels:
      app: scheduler
  replicas: ${SCHEDULER_REPLICAS}
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        app: scheduler
    spec:
      containers:
        - name: scheduler
          image: registry.digitalocean.com/tectoro/scheduler:${SCHEDULER_IMAGE_VERSION}
          envFrom:
            - configMapRef:
                name: scheduler
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: 50Mi
              cpu: "20m"
            requests:
              memory: 10Mi
              cpu: "10m"
      imagePullSecrets:
        - name: doregistry
---
apiVersion: v1
kind: Service
metadata:
  name: scheduler
spec:
  selector:
    app: scheduler
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
---
