version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - 35100:27017
    volumes:
      - mongo_data:/data/db
    command: ["--replSet", "rs0", "--bind_ip_all"]
    healthcheck:
      test: >
        mongosh --quiet --eval '
          try {
            rs.status();
          } catch (err) {
            rs.initiate({
              _id: "rs0",
              members: [{ _id: 0, host: "localhost:35100" }]
            });
          }
        '
      interval: 5s
      timeout: 10s
      retries: 10

volumes:
  mongo_data:
